.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.logo h5 {
  color: white;
  font-size: 1.3rem;
  color: #7865ff;
}

.nav__item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 400;
  cursor: pointer;
}

.nav__item a:hover {
  color: #7865ff;
}

.nav__right button {
  color: white;
  background: #7865ff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 25px;
}

.btn:hover {
  color: #fff;
}

.mobile__menu i {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile__menu {
  display: none;
}

.header__shrink {
  background: #132347;
  box-shadow: 2px 2px 4px -2px #7765ffbd;
}

/*=============================== responsive ================================ */

@media only screen and (max-width: 992px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7765ff69;
    z-index: 88888;
    display: none;
  }

  .nav__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #132347;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .menu__active {
    display: block;
  }

  .mobile__menu {
    display: block;
  }

  .btn {
    display: none;
  }

  .header{
    height: 60px;
    line-height: 50px;
  }
}
