.form{
    width: 100%;
    background: #132347;
    padding: 30px;
    border-radius: 5px;
}

.form__input input,
.form__input textarea{
    width: 100%;
    padding: 7px 15px;
    color: #fff;
    margin-bottom: 15px;
    background: #102048;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.8rem;
}

.submit__btn{
    margin-top: 15px;
    padding: 7px;
    font-size: .9rem;
    background: #7865ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
