.single__info{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
    width: 230px;
}

.single__info p{
    font-weight: 300;
    margin-top: 10px;
    font-size: .9rem;
    margin-bottom: 0;
}

.single__info h6{
    color: #fff;
    font-size: 1.1rem;
}

.in_touch h2{
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .single__info h6{
        font-size: 0.8rem;
    }

    .single__info p{
        font-size: 0.7rem;
    }

    .single__info{
        margin-bottom: 20px;
    }
}


