@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*===================================base style============================================= */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0e1b31;
}

html{
  scroll-behavior: smooth;
}

html body {
  background: #0e1b31;
}

h1, h2{
  font-size: 2rem;
  font-weight: 500;
}

p{
  color: #fff;
  opacity: 75%;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

ul{
  list-style: none;
  margin: 0;
}

a{
  color: unset;
  font-family: "Lato", sans-serif;
}

a:hover{
  color: unset;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
  font-family: "Lato", sans-serif;
  margin: 0;
}

section, footer{
  padding: 90px 0px;
}


/*================================custom scroll bar====================================================*/
::-webkit-scrollbar{
  width: 10px;
  background: #c1ceff;
}

::-webkit-scrollbar-thumb{
  border-radius: 2em;
  background: #282f4e;
}